Repository uclaacm/hoth.uclaacm.com, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, announcements, schedule, homepage, prizes, workshops, page, gallery, infra

.github/labeler.yml:

documentation:
- any: ['*.md']
- LICENSE*
- .github/FUNDING.yml

announcements:
- src/components/AnnouncementsPage/**/*
- src/components/HomePage/HomeAnnouncementBanner.js
- src/data/announcements.json
- src/pages/announcements.js
- update_announcements.py

schedule:
- src/components/SchedulePage/**/*
- src/pages/schedule.js

homepage:
- src/components/HomePage/**/*
- src/pages/index.js

prizes:
- src/components/PrizePage/**/*
- src/pages/prizes.js

workshops:
- src/components/WorkshopPage/**/*
- src/data/WorkshopSchedule.js
- src/pages/workshops.js

page:
- src/components/MenuBar/**/*
- src/components/Footer/**/*
- src/components/layout.js
- src/components/seo.js

gallery:
- src/components/GalleryPage/**/*
- src/components/HomePage/Gallery.js
- src/data/winners/*

infra:
- any: ['.github/**/*', '!.github/FUNDING.yml']
- src/components/SvgImg.js
- .editorconfig
- .eslint*
- .huskyrc.js
- .nvmrc
- .prettier*
- .svgo*
- gatsby-*.js
- netlify.toml
- package.json
- yarn.lock

update intro to database video link, change readme val to null for workshops that don't have a readme
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

fixed minor typos
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

Update workshops page with new workshops (#251)
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

update schedule and workshop
  src/components/WorkshopPage/WorkshopPage.js
  src/data/WorkshopSchedule.js
Labels: workshops

Update Announcements
  src/data/announcements.json
Labels: announcements

update schedule and workshop (#254)
  src/components/WorkshopPage/WorkshopPage.js
  src/data/WorkshopSchedule.js
Labels: workshops

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

Fixed inconsistent header styling and breakpoints
  src/components/AnnouncementsPage/Announcements.js
  src/components/SchedulePage/Schedule.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: announcements, schedule, workshops

Update Announcements
  src/data/announcements.json
Labels: announcements

Fixed inconsistent header styling and breakpoints (#266)
  src/components/AnnouncementsPage/Announcements.js
  src/components/SchedulePage/Schedule.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: announcements, schedule, workshops
