Repository uclaacm/hoth.uclaacm.com, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, announcements, schedule, homepage, prizes, workshops, page, gallery, infra

Used theme.spacing, added padding to bottom
  src/components/PrizePage/Prizes.js
Labels: prizes

change partition and strip subject/body
  update_announcements.py
Labels: announcements

added padding and fixed bug
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
Labels: schedule

Fixed yarn/npm issues
  package-lock.json
  package.json
  src/components/MenuBar/ButtonBar.js
  yarn.lock
Labels: page, infra

Added dropdown icon to gallery menu
  package.json
  src/components/GalleryPage/GalleryMenu.js
  yarn.lock
Labels: gallery, infra

Fixed ending newline in yaml
  src/data/winners/hoth-3.yml
Labels: gallery

Fix sticky time slot offset (#230)
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
Labels: schedule

Loopified gallery menu
  gatsby-node.js
  src/components/GalleryPage/GalleryMenu.js
  src/components/GalleryPage/GalleryPageTemplate.js
  src/components/GalleryPage/Winners.js
Labels: gallery, infra

Moved styles to useStyles
  gatsby-node.js
  src/components/GalleryPage/Winners.js
Labels: gallery, infra

Moved useStyles outside of component function
  src/components/GalleryPage/Winners.js
Labels: gallery

Added key to gallery menu list
  src/components/GalleryPage/GalleryMenu.js
Labels: gallery

Made the naming system more robust
  gatsby-node.js
  src/components/GalleryPage/GalleryMenu.js
  src/components/GalleryPage/GalleryPageTemplate.js
  src/components/GalleryPage/Winners.js
  src/data/winners/hoth-1.yml
Labels: gallery, infra

change partition and strip subject/body (#233)
  update_announcements.py
Labels: announcements

fix button colors & underline
  src/components/MenuBar/ButtonBar.js
Labels: page

update hoth start time to 8am
  src/components/constants.js
Labels: none

update hoth start time to 8am (#242)
  src/components/constants.js
Labels: none

added what food is being served during meal times to WorkshopSchedule
  src/data/WorkshopSchedule.js
Labels: workshops

added what food is being served during meal times to WorkshopSchedule (#244)
  src/data/WorkshopSchedule.js
Labels: workshops

fix button colors & underline (#239)
  src/components/MenuBar/ButtonBar.js
Labels: page

put prize header in left align and put it inside Container element to get padding, put styles in useStyles function
  src/components/PrizePage/PrizeHeader.js
Labels: prizes

put prize header in left align and put it inside Container element to get padding, put styles in useStyles function (#246)
  src/components/PrizePage/PrizeHeader.js
Labels: prizes

gave image references more descriptive names
  src/components/HomePage/HothDescription.js
Labels: homepage

Made image folder less messy
  gatsby-node.js
  src/components/GalleryPage/GalleryMenu.js
  src/components/GalleryPage/Winners.js
  src/images/gallery-winners/default/anon.png
  src/images/gallery-winners/hoth-1/grannysim.png
  src/images/gallery-winners/hoth-1/nector.png
  src/images/gallery-winners/hoth-2/cookuparecipe.png
  src/images/gallery-winners/hoth-2/delp.png
  src/images/gallery-winners/hoth-2/eve.jpg
  src/images/gallery-winners/hoth-2/raise.jpg
  src/images/gallery-winners/hoth-2/whatthehappening.png
  src/images/gallery-winners/hoth-3/info.txt
  src/images/gallery-winners/hoth-4/gottago.png
  src/images/gallery-winners/hoth-4/memo4me.png
  src/images/gallery-winners/hoth-5/belpdining.png
  src/images/gallery-winners/hoth-5/gatlingbun.png
  src/images/gallery-winners/hoth-5/gravityfall.png
  src/images/gallery-winners/hoth-5/lecturekiller.png
  src/images/gallery-winners/hoth-6/graduateadmissions.png
  src/images/gallery-winners/hoth-6/hapi.png
  src/images/gallery-winners/hoth-6/homesweethome.png
  src/images/gallery-winners/hoth-6/mycloset.png
  src/images/gallery-winners/hoth-6/superpong.png
  src/images/gallery-winners/hoth-7/bruindiningplus.png
  src/images/gallery-winners/hoth-7/meteormetronome.png
  src/images/gallery-winners/hoth-7/syfgames.png
  src/images/gallery-winners/hoth-7/wave.png
  src/images/gallery-winners/hoth-8/clotheswithcare.png
  src/images/gallery-winners/hoth-8/dusktodawn.png
  src/images/gallery-winners/hoth-8/emosign.png
  src/images/gallery-winners/hoth-8/eyemotion.png
  src/images/gallery-winners/hoth-8/mammalmayhem.png
  src/images/gallery-winners/hoth-8/nudge.jpg
  src/images/gallery-winners/hoth-8/reassure.jpg
Labels: gallery, infra

Fixed key bug in schedule
  src/components/HomePage/Event.js
Labels: homepage

Edited schedule to be available the day before HOTH
  src/components/HomePage/UpcomingEvents.js
Labels: homepage

I'm so sorry
  src/components/HomePage/Event.js
Labels: homepage

Changed key name
  src/components/GalleryPage/GalleryMenu.js
Labels: gallery

Fixed key bug in schedule (#249)
  src/components/HomePage/Event.js
Labels: homepage

fixed announcements accessibility
  src/components/AnnouncementsPage/Announcement.js
  src/components/AnnouncementsPage/Announcements.js
Labels: announcements

Edited schedule to be available the day before HOTH (#248)
  src/components/HomePage/UpcomingEvents.js
Labels: homepage

added hack website link (#207)
  src/components/HomePage/HothDescription.js
  src/images/hoth-description/hack_motif_applied.jpg
Labels: homepage

removed component prop
  src/components/AnnouncementsPage/Announcement.js
Labels: announcements

fixed component
  src/components/AnnouncementsPage/Announcement.js
Labels: announcements

Removed the troll
  src/images/gallery-winners/hoth-3/info.txt
Labels: none

add prize track suggestions
  src/components/PrizePage/Prizes.js
  src/images/prize-images/best-overall.jpg
  src/images/prize-images/education.jpg
  src/images/prize-images/equity.jpg
  src/images/prize-images/health-wellness.jpg
  src/images/prize-images/sustainability.jpg
  src/images/prize-images/you-do-you.jpg
Labels: prizes

fixed announcements accessibility (#250)
  src/components/AnnouncementsPage/Announcement.js
  src/components/AnnouncementsPage/Announcements.js
Labels: announcements

Update Announcements
  src/data/announcements.json
Labels: announcements

add all workshops (video, slides, readme), made readme not required and if null no button shows up, move styles into useStyle function
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

fix typo in name
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

Maggie/update prize design (#216)
  src/components/PrizePage/Prizes.js
  src/images/prize-icons/best-overall.png
  src/images/prize-icons/design-hack.png
  src/images/prize-icons/education.png
  src/images/prize-icons/equity.png
  src/images/prize-icons/equity2.png
  src/images/prize-icons/game-hack.png
  src/images/prize-icons/health-wellness.png
  src/images/prize-icons/mobile-hack.png
  src/images/prize-icons/overall-hack.png
  src/images/prize-icons/overall-hack2.png
  src/images/prize-icons/social-raffle.png
  src/images/prize-icons/sustainability.png
  src/images/prize-icons/web-hack.png
  src/images/prize-icons/you-do-you.png
  src/images/prize-images/best-overall.jpg
  src/images/prize-images/design-hack.png
  src/images/prize-images/education.jpg
  src/images/prize-images/equity.jpg
  src/images/prize-images/game-hack.png
  src/images/prize-images/health-wellness.jpg
  src/images/prize-images/mobile-hack.png
  src/images/prize-images/overall-hack.jpg
  src/images/prize-images/social-raffle.png
  src/images/prize-images/sustainability.jpg
  src/images/prize-images/web-hack.png
  src/images/prize-images/you-do-you.jpeg
  src/images/prize-images/you-do-you.jpg
Labels: prizes

.github/labeler.yml:

documentation:
- any: ['*.md']
- LICENSE*
- .github/FUNDING.yml

announcements:
- src/components/AnnouncementsPage/**/*
- src/components/HomePage/HomeAnnouncementBanner.js
- src/data/announcements.json
- src/pages/announcements.js
- update_announcements.py

schedule:
- src/components/SchedulePage/**/*
- src/pages/schedule.js

homepage:
- src/components/HomePage/**/*
- src/pages/index.js

prizes:
- src/components/PrizePage/**/*
- src/pages/prizes.js

workshops:
- src/components/WorkshopPage/**/*
- src/data/WorkshopSchedule.js
- src/pages/workshops.js

page:
- src/components/MenuBar/**/*
- src/components/Footer/**/*
- src/components/layout.js
- src/components/seo.js

gallery:
- src/components/GalleryPage/**/*
- src/components/HomePage/Gallery.js
- src/data/winners/*

infra:
- any: ['.github/**/*', '!.github/FUNDING.yml']
- src/components/SvgImg.js
- .editorconfig
- .eslint*
- .huskyrc.js
- .nvmrc
- .prettier*
- .svgo*
- gatsby-*.js
- netlify.toml
- package.json
- yarn.lock
