Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2020-07, with the labels that each got.

#56 Add Netlify configuration file
  .github/labeler.yml
  netlify.toml
Labels: infra

#54 Styling Fixes
  src/components/Footer/Footer.js
  src/components/HomePage/Banner.js
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
  src/components/MenuBar/ButtonBar.js
  src/components/MenuBar/MenuBar.js
  src/components/PrizePage/PrizeHeader.js
  src/components/SchedulePage/Event.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/TimeSlot.js
  src/components/layout.js
Labels: design, homepage, page, prizes, schedule

#61 Change favicon to hack logo
  gatsby-config.js
  src/images/gatsby-icon.png
Labels: design, infra, page

#52 Upcoming workshops
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/TimeSlot.js
  src/data/WorkshopSchedule.js
  src/pages/index.js
Labels: homepage, schedule
