Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2020-06, with the labels that each got.

#34 Create FUNDING.yml
  .github/FUNDING.yml
Labels: infra

#35 Some miscellaneous fixes
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
Labels: bug

#37 Change README to use 'main'
  README.md
Labels: documentation, infra

#15 Responsive navigation bar
  src/components/LinkNoStyle/LinkNoStyle.js
  src/components/MenuBar/ButtonBar.js
  src/components/MenuBar/MenuBar.js
  src/components/header.js
  src/components/layout.js
Labels: enhancement

#29 Add banner
  package.json
  src/components/HomePage/Banner.js
  src/components/SvgImg.js
  src/images/hoth-banner.svg
  src/images/hoth7-logo.svg
  src/pages/index.js
  yarn.lock
Labels: enhancement, homepage

#49 Update dependencies
  package.json
  yarn.lock
Labels: infra

#48 Miscellaneous fixes
  src/components/Footer/Footer.js
  src/components/Footer/IconLink.js
  src/components/Footer/twitter.svg
  src/components/HomePage/Banner.js
  src/components/LinkNoStyle/LinkNoStyle.js
  src/components/MenuBar/ButtonBar.js
  src/components/MenuBar/MenuBar.js
  src/components/layout.js
Labels: homepage, page

#24 Add Workshop schedule page
  src/components/MenuBar/ButtonBar.js
  src/components/SchedulePage/Event.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/TimeSlot.js
  src/components/layout.js
  src/pages/schedule.js
Labels: schedule

#50 Add files for PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infra

#51 Bump GitHub labeler to master
  .github/workflows/labeler.yml
Labels: infra
