Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2020-08, with the labels that each got.

#67 Update packages
  package.json
  yarn.lock
Labels: infra

#64 Sticky timeslot headers
  src/components/HomePage/TimeSlot.js
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
Labels: homepage, schedule

#60 Timezone-proof website
  src/components/HomePage/Banner.js
  src/components/HomePage/TimeSlot.js
  src/utils/timezone_names.js
Labels: homepage, schedule

#73 Update Packages
  package.json
  yarn.lock
Labels: infra

#71 New FAQ design
  src/components/Footer/Footer.js
  src/components/HomePage/FAQSection.js
  src/components/HomePage/Gallery.js
  src/components/HomePage/HothDescription.js
  src/components/HomePage/UpcomingEvents.js
  src/components/layout.js
Labels: homepage, page

#72 Modify design of the HOTH description
  src/components/CarouselSlider/gallery.css
  src/components/HomePage/Gallery.js
  src/components/HomePage/HothDescription.js
  src/components/HomePage/UpcomingEvents.js
  src/images/fb_logo.svg
  src/images/hoth-description/IMG_1914.jpg
  src/images/hoth-description/IMG_2030.jpg
Labels: homepage

#75 Upcoming Workshops Redesign
  src/components/HomePage/Banner.js
  src/components/HomePage/Event.js
  src/components/HomePage/TimeSlot.js
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/StickyTimeSlot.js
  src/utils/timezone_names.js
Labels: homepage, schedule
