Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2020-09, with the labels that each got.

#85 Avoid indiscriminately capitalizing the i in iOS
  src/components/HomePage/HothDescription.js
  src/components/SchedulePage/Event.js
  src/components/shared-style.js
  src/data/WorkshopSchedule.js
Labels: homepage, schedule

#87 Adjustments to upcoming workshops styles
  src/components/HomePage/Event.js
Labels: homepage

#91 Gallery redesign
  src/components/GalleryPage/Winners.js
Labels: gallery, homepage

#92 Update packages
  package.json
  yarn.lock
Labels: infra

#89 Schedule page redesign
  src/components/HomePage/Event.js
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/Event.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
  src/data/WorkshopSchedule.js
Labels: homepage, schedule
