Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2021-02, with the labels that each got.

#135 HOTH8 Banner Redesign
  src/components/HomePage/Banner.js
  src/components/MenuBar/ButtonBar.js
  src/components/constants.js
  src/images/hoth-banner.svg
  src/images/hoth7-logo.svg
  src/images/web-banner.svg
Labels: homepage, page

#136 Working schedule page
  src/components/HomePage/Event.js
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
  src/data/WorkshopSchedule.js
Labels: homepage, schedule

#141 Fix workshop page container width
  src/components/GalleryPage/Winners.js
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: gallery, workshops

#139 Jakob/newprizes
  package.json
  src/components/PrizePage/PrizeHeader.js
  src/components/PrizePage/Prizes.js
  src/images/prize-icons/ml-hack.png
  src/images/prize-icons/overall-hack.png
  src/images/prize-icons/overall-hack2.png
  src/images/prize-icons/social-raffle.png
  src/images/prize-icons/you-do-you.png
  src/images/prize-images/design-hack.jpg
  src/images/prize-images/game-hack.jpg
  src/images/prize-images/game-hack.png
  src/images/prize-images/ml-hack.jpg
  src/images/prize-images/mobile-hack.jpg
  src/images/prize-images/mobile-hack.png
  src/images/prize-images/overall-hack.jpg
  src/images/prize-images/social-raffle.jpg
  src/images/prize-images/web-hack.jpg
  src/images/prize-images/you-do-you.jpeg
  yarn.lock
Labels: infra, prizes

#138 added actual workshops
  src/components/MenuBar/ButtonBar.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: page, workshops

#143 added opening ceremony to the workshop page
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

#149 Fix hydration issue with homepage upcoming events section
  src/components/HomePage/UpcomingEvents.js
Labels: homepage

#150 Add closing ceremony to workshop page
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops
