Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2021-01, with the labels that each got.

#105 add interns to README
  .eslintignore
  README.md
Labels: documentation, infra

#110 updated readme with my link
  README.md
Labels: documentation

#111 Update README.md with my github link
  README.md
Labels: documentation

#112 added my github link
  README.md
Labels: documentation

#115 updated the description on the homepage
  src/components/HomePage/HothDescription.js
Labels: homepage

#116 updated FAQ section
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
Labels: homepage

#119 Chandra/githublink
  README.md
Labels: documentation

#120 Allow Node.js 15 to be used
  package.json
Labels: infra

#121 Increase z-index of mobile menu bar
  src/components/MenuBar/MenuBar.js
Labels: page

#123 Style changes from ACM design spec
  gatsby-config.js
  src/components/MenuBar/MenuBar.js
  src/components/layout.js
  src/images/hack-logo.svg
  src/images/hoth8-logo.svg
Labels: infra, page

#90 Add basic card prize components on prize page
  src/components/PrizePage/Prizes.js
  src/components/PrizePage/images/squiggle.svg
  src/images/prize-icons/design-hack.png
  src/images/prize-icons/game-hack.png
  src/images/prize-icons/ml-hack.png
  src/images/prize-icons/mobile-hack.png
  src/images/prize-icons/overall-hack.png
  src/images/prize-icons/web-hack.png
  src/images/prize-images/design-hack.jpg
  src/images/prize-images/game-hack.jpg
  src/images/prize-images/ml-hack.jpg
  src/images/prize-images/mobile-hack.jpg
  src/images/prize-images/overall-hack.jpg
  src/images/prize-images/web-hack.jpg
Labels: prizes

#126 Fix squiggles
  src/components/PrizePage/images/squiggle.svg
Labels: prizes

#127 Updated banner with new info
  src/components/HomePage/Banner.js
Labels: homepage

#124 Color of the Apply button and hover changes, Apply link
  package.json
  src/components/MenuBar/ButtonBar.js
Labels: infra, page

#129 Updated prize page
  src/components/PrizePage/PrizeHeader.js
  src/components/PrizePage/Prizes.js
  src/images/wrench.svg
Labels: prizes

#132 Hid Schedule page
  src/components/HomePage/UpcomingEvents.js
  src/components/SchedulePage/Schedule.js
Labels: homepage, schedule

#133 We are in 2021
  src/components/Footer/Footer.js
Labels: page

#130 Added workshop page
  .github/labeler.yml
  package.json
  src/components/MenuBar/ButtonBar.js
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
  src/pages/workshops.js
  yarn.lock
Labels: infra, page, workshops
