Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2022-01, with the labels that each got.

#172 Removed Facebook link
  src/components/HomePage/HothDescription.js
Labels: homepage

#174 Header/Footer takes up full page
  gatsby-browser.js
  src/components/layout.js
  src/styles/global.css
Labels: infra, page

#173 Added 'Coming soon...' text to applicable places
  src/components/ComingSoon/ComingSoon.js
  src/components/HomePage/UpcomingEvents.js
  src/components/PrizePage/Prizes.js
  src/components/SchedulePage/Schedule.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: homepage, schedule, prizes, workshops

#176 update answers, insert new Q&A
  src/components/HomePage/FAQSection.js
Labels: homepage

#171 Nathan/new announcements page
  src/components/AnnouncementsPage/Announcements.js
  src/components/MenuBar/ButtonBar.js
  src/pages/announcements.js
Labels: page, announcements

#175 Updated location and date
  src/components/Footer/Footer.js
  src/components/HomePage/Banner.js
  src/components/HomePage/HothDescription.js
  src/components/MenuBar/ButtonBar.js
  src/components/constants.js
  src/data/WorkshopSchedule.js
Labels: homepage, page

#177 Updated gallery page with last year's winners
  src/components/GalleryPage/Winners.js
  src/images/gallery-winners/bruindining.png
  src/images/gallery-winners/clotheswithcare.png
  src/images/gallery-winners/dusktodawn.png
  src/images/gallery-winners/emosign.png
  src/images/gallery-winners/eyemotion.png
  src/images/gallery-winners/mammalmayhem.png
  src/images/gallery-winners/meteor.jpg
  src/images/gallery-winners/nudge.jpg
  src/images/gallery-winners/reassure.jpg
  src/images/gallery-winners/syfgames.jpeg
  src/images/gallery-winners/wave.jpg
Labels: gallery

#179 Added Application link and made it so that it will become available on Monday morning
  src/components/HomePage/Banner.js
  src/components/MenuBar/ButtonBar.js
  src/components/constants.js
Labels: homepage, page

#180 Nathan/update graphics
  src/components/HomePage/Banner.js
  src/components/layout.js
  src/images/powellBackground.png
Labels: homepage, design, page

#178 Add hoth9 logo
  gatsby-config.js
  src/components/MenuBar/MenuBar.js
  src/images/hoth8-logo.svg
  src/images/hoth9-logo.svg
Labels: infra, page

#182 updated title from 'off' to 'on'
  src/components/MenuBar/MenuBar.js
Labels: page

#184 Changed remaining "Hack off" to "Hack on"
  README.md
  gatsby-config.js
Labels: documentation, infra

#186 Changed the final 'hack on the hill' to 'hack off the hill'
  package.json
Labels: infra

#191 updated location
  src/components/HomePage/Banner.js
Labels: homepage
