Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2022-02, with the labels that each got.

#183 Add README and slides links to each workshop component
  src/components/WorkshopPage/Workshop.js
Labels: workshops

#194 Changed date, removed '!' from hyperlink, added location info in FAQ
  src/components/HomePage/FAQSection.js
Labels: homepage

#187 Added link to HOTH 8 devpost on gallery page
  src/components/GalleryPage/Winners.js
Labels: gallery

#197 update location in homepage description
  src/components/HomePage/HothDescription.js
Labels: homepage

#185 Add Github Actions for Announcements Page
  .github/python_requirements.txt
  .github/workflows/announcements.yml
Labels: infra

#204 Change Google form shortened URL to links.uclaacm.com
  src/components/HomePage/Banner.js
  src/components/MenuBar/ButtonBar.js
Labels: homepage, page

#205 fix FAQ date
  src/components/HomePage/FAQSection.js
Labels: homepage

#202 Fix Github Actions Error
  .github/workflows/announcements.yml
  update_announcements.py
Labels: infra

#209 put in preliminary schedule
  src/components/HomePage/Event.js
  src/components/SchedulePage/Schedule.js
  src/data/WorkshopSchedule.js
Labels: homepage, schedule

#208 Nathan/add announcements to home
  src/components/HomePage/HomeAnnouncementBanner.js
  src/pages/index.js
Labels: homepage

#224 Fixed MenuBar collapse threshold
  src/components/MenuBar/MenuBar.js
Labels: page

#217 Changed schedule page tab title to 'Schedule'
  src/pages/schedule.js
Labels: schedule

#225 Fix collaborator issue with Github Actions
  .github/workflows/announcements.yml
  update_announcements.py
Labels: infra

#227 Get rid of bugs causing errors in dev console
  src/components/HomePage/Banner.js
  src/components/HomePage/HomeAnnouncementBanner.js
  src/components/MenuBar/ButtonBar.js
Labels: homepage, page

#230 Fix sticky time slot offset
  src/components/SchedulePage/Schedule.js
  src/components/SchedulePage/StickyTimeSlot.js
Labels: schedule

#242 Update HOTH start time to 8am
  src/components/constants.js
Labels: bug

#239 Fix accessibility of Apply Button
  src/components/MenuBar/ButtonBar.js
Labels: page

#246 fix padding and alignment of Prize Header
  src/components/PrizePage/PrizeHeader.js
Labels: prizes

#249 Fixed key bug in schedule
  src/components/HomePage/Event.js
Labels: homepage

#248 Edited schedule to be available the day before HOTH
  src/components/HomePage/UpcomingEvents.js
Labels: homepage

#207 added hack website link
  src/components/HomePage/HothDescription.js
  src/images/hoth-description/hack_motif_applied.jpg
Labels: homepage

#216 Maggie/update prize design
  src/components/PrizePage/Prizes.js
  src/images/prize-icons/best-overall.png
  src/images/prize-icons/design-hack.png
  src/images/prize-icons/education.png
  src/images/prize-icons/equity.png
  src/images/prize-icons/equity2.png
  src/images/prize-icons/game-hack.png
  src/images/prize-icons/health-wellness.png
  src/images/prize-icons/mobile-hack.png
  src/images/prize-icons/overall-hack.png
  src/images/prize-icons/overall-hack2.png
  src/images/prize-icons/social-raffle.png
  src/images/prize-icons/sustainability.png
  src/images/prize-icons/web-hack.png
  src/images/prize-icons/you-do-you.png
  src/images/prize-images/best-overall.jpg
  src/images/prize-images/design-hack.png
  src/images/prize-images/education.jpg
  src/images/prize-images/equity.jpg
  src/images/prize-images/game-hack.png
  src/images/prize-images/health-wellness.jpg
  src/images/prize-images/mobile-hack.png
  src/images/prize-images/overall-hack.jpg
  src/images/prize-images/social-raffle.png
  src/images/prize-images/sustainability.jpg
  src/images/prize-images/web-hack.png
  src/images/prize-images/you-do-you.jpeg
  src/images/prize-images/you-do-you.jpg
Labels: prizes

#251 Update workshops page with new workshops
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops
