Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2022-04, with the labels that each got.

#215 Anakin/paginate gallery page
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/GalleryPage/GalleryMenu.js
  src/components/GalleryPage/GalleryPageTemplate.js
  src/components/GalleryPage/Winners.js
  src/components/MenuBar/ButtonBar.js
  src/data/winners/hoth-1.yml
  src/data/winners/hoth-2.yml
  src/data/winners/hoth-3.yml
  src/data/winners/hoth-4.yml
  src/data/winners/hoth-5.yml
  src/data/winners/hoth-6.yml
  src/data/winners/hoth-7.yml
  src/data/winners/hoth-8.yml
  src/images/gallery-winners/default/anon.png
  src/images/gallery-winners/hoth-1/grannysim.png
  src/images/gallery-winners/hoth-1/nector.png
  src/images/gallery-winners/hoth-2/cookuparecipe.png
  src/images/gallery-winners/hoth-2/delp.png
  src/images/gallery-winners/hoth-2/eve.jpg
  src/images/gallery-winners/hoth-2/raise.jpg
  src/images/gallery-winners/hoth-2/whatthehappening.png
  src/images/gallery-winners/hoth-4/gottago.png
  src/images/gallery-winners/hoth-4/memo4me.png
  src/images/gallery-winners/hoth-5/belpdining.png
  src/images/gallery-winners/hoth-5/gatlingbun.png
  src/images/gallery-winners/hoth-5/gravityfall.png
  src/images/gallery-winners/hoth-5/lecturekiller.png
  src/images/gallery-winners/hoth-6/graduateadmissions.png
  src/images/gallery-winners/hoth-6/hapi.png
  src/images/gallery-winners/hoth-6/homesweethome.png
  src/images/gallery-winners/hoth-6/mycloset.png
  src/images/gallery-winners/hoth-6/superpong.png
  src/images/gallery-winners/hoth-7/bruindiningplus.png
  src/images/gallery-winners/hoth-7/meteormetronome.png
  src/images/gallery-winners/hoth-7/syfgames.png
  src/images/gallery-winners/hoth-7/wave.png
  src/images/gallery-winners/hoth-8/clotheswithcare.png
  src/images/gallery-winners/hoth-8/dusktodawn.png
  src/images/gallery-winners/hoth-8/emosign.png
  src/images/gallery-winners/hoth-8/eyemotion.png
  src/images/gallery-winners/hoth-8/mammalmayhem.png
  src/images/gallery-winners/hoth-8/nudge.jpg
  src/images/gallery-winners/hoth-8/reassure.jpg
  src/pages/gallery.js
  yarn.lock
Labels: infra, gallery, page

#266 Fixed inconsistent header styling and breakpoints
  src/components/AnnouncementsPage/Announcements.js
  src/components/SchedulePage/Schedule.js
  src/components/WorkshopPage/WorkshopPage.js
Labels: schedule, workshops

#221 Updated labeler.yml
  .github/labeler.yml
Labels: infra

#272 create Hoth 9 winners page
  src/components/MenuBar/ButtonBar.js
  src/data/winners/hoth-9.yml
  src/images/gallery-winners/hoth-9/filterthefake.jpeg
  src/images/gallery-winners/hoth-9/greenride.jpeg
  src/images/gallery-winners/hoth-9/habituate.png
  src/images/gallery-winners/hoth-9/loom.jpeg
  src/images/gallery-winners/hoth-9/morsebridge.jpeg
  src/images/gallery-winners/hoth-9/plannedbruin.jpeg
Labels: gallery, page

#271 Upgrade gatsby version from 2.24.65 to 2.24.80
  package.json
  yarn.lock
Labels: infra
