Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2023-01, with the labels that each got.

#312 Updating 9 ->'X', Date and Location -> TBD
  src/components/HomePage/Banner.js
  src/components/HomePage/HothDescription.js
  src/data/eventSchedule.js
Labels: homepage, workshops

#313 updated readme
  README.md
Labels: documentation

#317 Removed schedule subtitle
  src/components/SchedulePage/Schedule.js
Labels: schedule

#316 added "coming soon" message to workshop page
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

#318 Updated FAQ section with date/time/location
  src/components/HomePage/FAQSection.js
Labels: homepage

#320 added message to indicate last year's prizes
  src/components/PrizePage/Prizes.js
Labels: prizes

#322 updated banner & logo & minor place/time places on home page
  gatsby-config.js
  src/components/HomePage/Banner.js
  src/components/HomePage/HothDescription.js
  src/components/MenuBar/MenuBar.js
  src/images/fb_logo.svg
  src/images/hoth9-logo.svg
  src/images/hothX-logo.svg
  src/images/web-banner.svg
Labels: infra, homepage, page

#328 Fixed typos on Homepage, FAQ section, and README
  README.md
  src/components/HomePage/Banner.js
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
Labels: documentation, homepage

#324 Change banner layout
  src/components/HomePage/Banner.js
  src/components/HomePage/HothDescription.js
  src/images/hothX-banner.png
  src/images/powellBackground.png
Labels: homepage
