Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2023-04, with the labels that each got.

#360 made schedule unavailable
  src/components/SchedulePage/Schedule.js
Labels: schedule

#336 Added Sticky Nav Menu
  package.json
  src/components/Footer/Footer.js
  src/components/WorkshopPage/Workshop.js
  src/components/WorkshopPage/WorkshopPage.js
  yarn.lock
Labels: infra, page, workshops

#361 added hoth x winners and images
  src/components/MenuBar/ButtonBar.js
  src/data/winners/hoth-x.yml
  src/images/gallery-carousel/hoth-x/IMG_1311.jpg
  src/images/gallery-carousel/hoth-x/IMG_4460.jpg
  src/images/gallery-carousel/hoth-x/IMG_4465.jpg
  src/images/gallery-carousel/hoth-x/IMG_4466.jpg
  src/images/gallery-carousel/hoth-x/IMG_4473.jpg
  src/images/gallery-winners/hoth-x/allies.png
  src/images/gallery-winners/hoth-x/bruinthrift.png
  src/images/gallery-winners/hoth-x/handiwalk.png
  src/images/gallery-winners/hoth-x/quakealert.png
  src/images/gallery-winners/hoth-x/roadrager.png
  src/images/gallery-winners/hoth-x/sportify.png
Labels: gallery, page
