Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2023-02, with the labels that each got.

#314 improved styling for dropdown of past winners
  src/components/GalleryPage/GalleryMenu.js
Labels: gallery

#329 Updated v3 to v4
  .github/workflows/announcements.yml
Labels: infra

#330 updated prizes
  src/components/PrizePage/Prizes.js
  src/images/prize-icons/beg.png
  src/images/prize-icons/best-overall.png
  src/images/prize-icons/education.png
  src/images/prize-icons/equity.png
  src/images/prize-icons/equity2.png
  src/images/prize-icons/game.png
  src/images/prize-icons/health-wellness.png
  src/images/prize-icons/ie.png
  src/images/prize-icons/mobile.png
  src/images/prize-icons/overall.png
  src/images/prize-icons/sustainability.png
  src/images/prize-icons/web.png
  src/images/prize-icons/you-do-you.png
Labels: prizes

#335 Updated prizes
  src/components/PrizePage/Prizes.js
Labels: prizes

#334 Updated user white list for announcements script
  update_announcements.py
Labels: announcements

#338 Katelyn/update workshop data
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops
