Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2024-01, with the labels that each got.

#392 dev branch for package version fix
  package.json
  src/components/WorkshopPage/WorkshopPage.js
  yarn.lock
Labels: infra, workshops

#397 Revert "dev branch for package version fix"
  package.json
  src/components/WorkshopPage/WorkshopPage.js
  yarn.lock
Labels: infra, workshops

#394 Kayla/add application link
  src/components/HomePage/Banner.js
  src/components/MenuBar/ButtonBar.js
Labels: homepage, page

#393 Sneha/hide announcements
  src/data/announcements.json
Labels: announcements

#396 Sneha/update hack email
  code-of-conduct.md
  src/components/HomePage/FAQSection.js
Labels: documentation, homepage

#399 Update FAQ section
  src/components/HomePage/FAQSection.js
Labels: homepage

#395 Kaylin/show past year workshops
  src/components/WorkshopPage/WorkshopPage.js
Labels: workshops

#402 Jakob/extra issues
  src/components/HomePage/Banner.js
  src/components/HomePage/HothDescription.js
  src/components/PrizePage/Prizes.js
  src/data/announcements.json
  src/data/eventSchedule.js
Labels: homepage, prizes, workshops, announcements

#403 Dev
  code-of-conduct.md
  package.json
  src/components/HomePage/Banner.js
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
  src/components/MenuBar/ButtonBar.js
  src/components/PrizePage/Prizes.js
  src/components/WorkshopPage/WorkshopPage.js
  src/components/constants.js
  src/data/announcements.json
  src/data/eventSchedule.js
  yarn.lock
Labels: documentation, infra, homepage, prizes, page, workshops, announcements
