Repository uclaacm/hoth.uclaacm.com, pull requests merged in 2024-02, with the labels that each got.

#404 Updated assets, shifted title info right
  gatsby-config.js
  src/components/HomePage/Banner.js
  src/components/MenuBar/MenuBar.js
  src/images/hothXI-banner.png
  src/images/hothXI-logo.svg
Labels: infra, homepage, page

#398 Sam/README Updates
  README.md
Labels: documentation

#408 Updated date and location
  src/components/HomePage/Banner.js
  src/components/HomePage/FAQSection.js
  src/components/HomePage/HothDescription.js
  src/components/constants.js
Labels: homepage

#407 Nathan/prevent push to main
  .eslintignore
  .huskryrc.js
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-push
  package.json
Labels: infra

#406 Sam/update allow list
  update_announcements.py
Labels: announcements

#409 Beautify the homepage text
  src/components/HomePage/HothDescription.js
Labels: homepage

#414 Updated schedule
  src/components/PrizePage/Prizes.js
  src/components/SchedulePage/Schedule.js
  src/components/constants.js
  src/data/eventSchedule.js
Labels: schedule, prizes, workshops

#413 Fix accordion bug on FAQ page - make first tab closed on page load
  src/components/HomePage/FAQSection.js
Labels: homepage
